<html lang="en">
  <head>
  	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
  	<div class="container">
  		<div class="header">
  			<h3 class="text-muted">List All The Routes Defined</h3>
  		</div>
  		<hr/>
  		<div>
  			This is a list of the defined routes on the application. They've been passed to the template after retrieving the list using this code:
  			<ul>
  				{% for route in routes %}
  				<li>{{route}}</li>
  				{% endfor %}
  			</ul>
  		</div>
  	</div>
  </body>
</html>
